EXPO_PUBLIC_API_URL=https://orbit-api-m5ah.onrender.com
EXPO_PUBLIC_MQTT_URL=wss://orbit-api-m5ah.onrender.com/mqtt
EXPO_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
