PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
DATABASE_URL="file:./orbit.db"

JWT_SECRET=orbit_super_secret_jwt_key_development_2026_change_in_production
JWT_REFRESH_SECRET=orbit_super_secret_refresh_jwt_key_2026_change_in_prod
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d

MQTT_PORT=1883
MQTT_WS_PORT=8883

PEERJS_PORT=5000
PEERJS_PATH=/peerjs
